{% extends 'base.html' %}


{% block content %}
<div class="col-lg-4 mx-auto text-bg-light p-5 my-5 rounded-5">
    <div class="d-flex justify-content-end">
        <a class="text-dark me-3 text-decoration-none"
            href="{% url 'user-update' %}">
            <span class="material-symbols-outlined fs-3">
                edit
            </span>
        </a>
    </div><hr>
    {% if user.profile_picture %}
    <div class="row">
        <div class="text-center">
            <img class="rounded-5 shadow"
                style="height: 8rem; width: 8rem;"
                src="{{user.profile_picture.url}}"
                alt="{{user.profile_picture.url}}"
                srcset="">
        </div>
    </div><br>
    {% endif %}
    <div class="row">
        <p><span>{{user}}</span>
            <span class="ms-3 badge bg-primary">{{user.role|title}}</span>
        </p>
        <p><a class="text-dark"
                href="mailto:{{user.email}}">{{user.email}}</a></p>

        {% if user.phone %}
        <p><a class="text-dark"
                href="tel:{{user.phone}}">{{user.phone|default:'ext'}}</a></p>
        {% endif %}
    </div>
</div>


{% endblock content %}