{% extends 'base.html' %}


{% block content %}
<div class="container-fluid p-5">
    <h1>{{object.name|truncatechars:60}}</h1>
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <audio controls
                class="col-lg-12 mb-3 border border-secondary rounded-pill">
                <source
                    src="{% if object.audio_file %}{{ object.audio_file.url }}{% endif %}"
                    type="audio/mp3">
            </audio>
            {% if object.start %}
            <p class="alert alert-info rounded-pill border border-info">
                <strong>Start:
                </strong>{{object.start}}
            </p>
            {% endif %}

            {% if object.end %}
            <p class="alert alert-success rounded-pill border border-success">
                <strong>End: </strong>{{object.end}}
            </p>
            <p class="alert alert-info rounded-pill border border-info">
                <strong>Duration:
                </strong>{{object.get_duration}}</p>
            <hr>
            <p class="d-grid"><a
                    class="btn btn-outline-light btn-lg rounded-pill d-flex align-items-center justify-content-center fw-bold"
                    href="{% url 'export_to_word' object.pk %}">Download <span
                        class="material-symbols-outlined fs-2">
                        download
                    </span></a>
            </p>
            {% else %}
            <div class="text-center">
                <div class="spinner-border"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-lg">
            {% if object.transcription %}
            <p class="px-5">{{object.transcription}}</p>
            {% else %}
            <div class="text-center">
                <div class="spinner-border"
                    role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            {% endif %}


        </div>
    </div>
</div>
{% endblock content %}