{% extends 'base.html' %}


{% block content %}
<div class="py-5 small">
    <div class="d-flex justify-content-between">
        <h1>Transcription</h1>
        <a class="text-dark"
            href="{% url 'transcribe' %}"><span
                class="material-symbols-outlined fs-1 mx-5">
                add
            </span></a>
    </div>

    <hr>
    <div class="col-lg-4 mx-auto">

        {% for obj in object_list %}
        <a class="text-dark text-decoration-none"
            href="{% url 'detail' obj.pk %}">
            <div
                class="border rounded-4 shadow p-5 mb-2  bg-{{obj.get_status}}">
                <span class="fw-bold">{{obj.name}} ({{obj.probability}})</span>
                <hr>
                
                {% if obj.transcription %}
                <p>{{obj.transcription|truncatechars:500}}</p>
                    
                {% endif %}
                    
                <p class="small text-muted text-end">{{obj.created_at}}</p>
            </div>
        </a>

        {% empty %}
        <p>Nothing</p>

        {% endfor %}
    </div>

</div>
{% endblock content %}